body {
    /* background-image: url('../images/bgimg.JPG'); */
    background-image: url('https://images.pexels.com/photos/265685/pexels-photo-265685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    background-size: cover;
}

a{
    color: rgba(255, 0, 0, 1);
}

a:hover{
    text-decoration: none;
    color: rgba(255, 0, 0, 1);
}

.home{
    text-align: center;
    margin: 4rem 10rem 4rem 10rem;
    background-color: rgba(0,0,0,0.8);
    padding: 4rem;
    color: rgba(255, 0, 0, 1);
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    border-radius: 2rem;
}

.home_message{
    margin-bottom: 2rem;
}

.head{
    text-decoration: none;
    font-size: 3rem;
    color: red;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); 
    /* border-radius: 3rem; */
    /* margin: 1rem; */
    font-family: 'Acme', sans-serif;
}

.but-style{
    border: solid blue;
    background-color: blue;
    padding: 5px 1.5rem 5px 1.5rem;
    border-radius: 2rem;
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.but-style:hover{
    border-color: red;
    background-color: red;
    color: white;
    text-decoration: none;
}

.login{
    text-align: center;
    margin: 4rem 10rem 4rem 10rem;
    background-color: rgba(0,0,0,0.8);
    padding: 2rem;
    color: rgba(255, 0, 0, 1);
    font-family: 'Fredoka One', cursive;
    border-radius: 2rem;
}

.login_head{
    padding-bottom: 2rem;
    font-size: 2rem;
}

.text_field{
    border: 1.5px red solid;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    height: auto;
}

.register{
    text-align: center;
    margin: 4rem 10rem 4rem 10rem;
    background-color: rgba(0,0,0,0.8);
    padding: 2rem;
    color: rgba(255, 0, 0, 1);
    font-family: 'Fredoka One', cursive;
    border-radius: 2rem;
}

.register_head{
    padding-bottom: 2rem;
    font-size: 2rem;
}

.search{
    text-align: center;
    margin: 2rem;
}

.search_field{
    text-align: center;
    width: 50%;
    height: auto;
    font-size: 1.5rem;
    border: 2px red solid;
    border-radius: 0.5rem;
    font-family: 'Fredoka One', cursive;
}

footer{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
}

.nav_but{
    float: right;
    margin: 1rem;
    padding: 5px 10px 5px 10px;
    font-size: 1.2rem;
}

.mov-details{
    color: black;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2rem;
    margin: 2rem 4rem 2rem 4rem;
    padding: 2rem;
    font-family: 'Fredoka One', cursive;
}

.mov-title{
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

img{
    border-radius: 1rem;
}

.mov-poster{
    width: 100%;
    height: auto;
}

.mov-year, .mov-imdburl{
    font-size: 1.3rem;
    color: white;
}

.error{
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
    padding: 3rem;
    font-family: 'Fredoka One', cursive;
    color: black;
}

.error_but{
    text-align: center;
}